<div class="step-cont mt-2">
	<div class="row">
		<div class="col">
			<!-- <div class="step-cont__atual pt-3 pb-2">
				2.1. Alterar Caminho
			</div> -->
			<div class="step-cont__titulo">
				<h1>{$title}</h1>
			</div>
		</div>
	</div>	
			{function="getInformation_record()"}
			{if="$layout=='alt-pageseconds'"}
			<form action="/mondo/index.php/admin/way/edit/pageseconds/{$secpagesdata['0'].id_sec}" method="POST">
				<!-- {$title} -->
				{if="$secpagesdata!=''"}
				{function="getMenuAlternativasAlterarPageSec($secpagesdata)"}
				<div class="row py-5">
					<div class="col">
						<div class="input-block">
							<div class="input-block__cont">
								<div class="input-block__text-input">
									<label for="#name_sec">Nome</label>
									<input type="text" id="name_sec" name="name_sec" placeholder="Pagamento da Fatura" value="{$secpagesdata['0'].name_sec}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- {$title} -->

				<div class="row">
					<div class="col center-column py-5">
						<div class="btn-cont py-3">
							<button class="btn-default bg-confirm" type="submit">{$title}</button>
						</div>
					</div>
				</div>
				{/if}				
			</form>
			{/if}


			{if="$layout=='alt-links'"}
			<form action="/mondo/index.php/admin/way/edit/links/{$datalink['0'].id_link}" method="POST">
				<!-- {$title} -->
				{if="$datalink!=''"}
				{function="getMenuAlternativesAlterLink($datalink)"}
				<div class="row py-5">
					<div class="col">
						<div class="input-block">
							<div class="input-block__cont">
								<div class="input-block__text-input">
									<label for="#namelink">Nome</label>
									<input type="text" id="namelink" name="namelink" placeholder="Pagamento da Fatura" value="{$datalink['0'].namelink}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- {$title} -->
				<div class="row">
					<div class="col center-column py-5">
						<div class="btn-cont py-3">
							<button class="btn-default bg-confirm" type="submit">{$title}</button>
						</div>
					</div>
				</div>
				{/if}				
			</form>
			{/if}

			{if="$layout=='alt-way'"}

			<form action="/mondo/index.php/admin/way/edit/{$dataway['0'].id_way}" method="POST">
				<!-- {$title} -->
				{if="$dataway!=''"}
				{function="getMenuAlternativesWay($dataway)"}
				<div class="row py-5">
					<div class="col">
						<div class="input-block">
							<div class="input-block__cont">
								<div class="input-block__text-input">
									<label for="#wayname">Nome</label>
									<input type="text" id="wayname" name="wayname" placeholder="Pagamento da Fatura" value="{$dataway['0'].wayname}">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- {$title} -->
				<div class="row">
					<div class="col center-column py-5">
						<div class="btn-cont py-3">
							<button class="btn-default bg-confirm" type="submit">{$title}</button>
						</div>
					</div>
				</div>
				{/if}				
			</form>
			{/if}
</div>