            <div class="breadcrumbs">
              <div class="col-sm-4">
                <div class="page-header float-left">
                  <div class="page-title">
                    <h1>Lista de alternativas</h1>
                  </div>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="page-header float-right">
                  <div class="page-title">

                    <ol class="breadcrumb text-right">
                      <li><a href="/desv/desenUserLogin/index.php/admin"><i class="fa fa-dashboard"></i> Home</a></li>
                      <li class="active"><a href="/desv/desenUserLogin/index.php/admin/config-alt/claro">Alternativas</a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
             {function="getInformation_record()"}

             <div class="card">

              <div class="card-header">
                <div class="row col-lg-12">
                 <div class="col-lg-10 ">

                   <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-sm">Cadastrar</button>
                 </div>   


                 <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                     <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Nova Alternativa</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/desv/desenUserLogin/index.php/admin/config-alt/claro" method="post" id="idform" >

                        <div class="form-group">
                          <label for="opts_alternatives" class="col-form-label">Titulo </label> {function="getSpanRequired()"}
                          <input type="text" class="form-control" id="opts_alternatives" name="opts_alternatives" required="true">
                        </div>
                        {if="$options==false"}
                        <div class="form-group">
                          <h6>
                            Não encontrado
                          </h6>
                        </div>                                     
                        {else}
                        <div class="form-group">
                          <label for="id_option" class="col-form-label">Selecione a opção</label> {function="getSpanRequired()"}
                          <select id="id_option" name="id_option" class="custom-select" required="true">
                            <option selected="true"  disabled="disabled" > </option>
                            {loop="$options"}
                             <option value={$value.id_option}>{$value.name}</option>
                            {/loop}
                          </select>
                        </div>
                        {/if}

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                          <button type="submit" class="btn btn-primary btn-submit">Enviar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 ">
                <form action="/desv/desenUserLogin/index.php/admin/config-alt/claro" method="
                POST">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="search" class="form-control pull-right" placeholder="Pesquisar" >
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>    
        </div>

        <div class="card-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Nome </th>
                <th>Data </th>
                <th>Opção</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
             {if="$alternatives==false"}
             <td >- </td>
             <td >Não encontrado </td>
             <td > </td>
             {else}
             {loop="$alternatives"}
             <tr>
              <th>{$value.id_alt}</th>
              <th class="fieldname-{$value.id_alt}">{$value.alternative}</th>
              <th>{$value.created}</th>
              <th><a href="#">{$value.option}</a></th>
              <th class="pr-0"> 
                <button type="button" class="btn btn-primary modalbtnedit" data-toggle="modal" data-target=".bd-example-modal-sm2" data-id={$value.id_alt} data-table='alternative' >Editar</button>
                <a href="/desv/desenUserLogin/index.php/admin/config-alt/claro/delete/{$value.id_alt}" onclick="return confirm('Deseja realmente excluir este registro?')" class=" button btn btn-danger" >Excluir</a>
              </th>
            </tr>
            {/loop}
            {/if}    
          </tbody>
        </table>

        <div id="modaledit" class="modal fade bd-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-content">
               <div class="modal-header">
                <h5 class="modaledit-title" id="modaledit-id"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  method="post" class="modalformedit" >

                  <input type="hidden" name="id_alt" class="modalinput">
                  <div class="form-group">
                    <label for="opts_registers" class="col-form-label">Nova Alternativa </label> {function="getSpanRequired()"}
                    <input type="text" class="form-control" id="opts_registers" name="opts_registers" required="true">
                  </div>
                  {if="$options==false"}
                        <div class="form-group">
                          <h6>
                            Não encontrado
                          </h6>
                        </div>                                     
                        {else}
                        <div class="form-group">
                          <label for="id_option" class="col-form-label">Selecione a opção</label> {function="getSpanRequired()"}
                          <select id="id_option" name="id_option" class="custom-select" required="true">
                            <option selected="true"  disabled="disabled" > </option>
                            {loop="$options"}

                             <option value={$value.id_option}>{$value.name}</option>
                            {/loop}
                          </select>
                        </div>
                        {/if}
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary btn-submit">Enviar</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>