<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Alterar Caminho</title>

	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.10.1/css/pro.min.css">
</head>

<body>
	<!-- NAVBAR PRINCIPAL -->
	<nav class="nav-principal navbar navbar-expand justify-content-between bg-light py-0">
		<div class="container align-items-end p-3">
			<a class="navbar-brand pt-0 pb-2" href="#">
				<img src="./assets/images/brand_claro.png">
			</a>

			<ul class="navbar-nav">
				<li class="nav-item active">
					<span class="indicador"></span>
					<a class="nav-link px-3" href="#"><i class="far fa-plus"></i> Incluir Regra</a>
				</li>
				<li class="nav-item">
					<span class="indicador"></span>
					<a class="nav-link px-3" href="#"><i class="far fa-list-ul"></i> Lista de Caminhos</a>
				</li>
				<li class="nav-item">
					<span class="indicador"></span>
					<a class="nav-link px-3" href="#"><i class="fal fa-user"></i> Novas Solicitações</a>
				</li>
				<li class="nav-item">
					<span class="indicador"></span>
					<a class="nav-link px-3" href="#"><i class="fal fa-cog"></i> Cadastrar Opções</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- / NAVBAR PRINCIPAL -->

	<main>
		<div class="container">

			<!-- STEPS MENU -->
			<nav class="nav-steps py-4">
				<ul class="navbar-nav navbar-expand justify-content-around align-items-center">
					<li class="nav-item flex-fill text-center">
						<a class="nav-link" href="./nova-regra.html">
							<span class="mr-1">1.</span>Criação de Nova Regra
						</a>
					</li>
					<li class="nav-item flex-fill text-center active">
						<a class="nav-link" href="./definir-caminho.html">
							<span class="mr-1">2.</span>Definir Caminho
						</a>
					</li>
					<li class="nav-item flex-fill text-center">
						<a class="nav-link" href="./ligar-paginas.html">
							<span class="mr-1">3.</span>Ligar Páginas Secundárias
						</a>
					</li>
					<li class="nav-item flex-fill text-center">
						<a class="nav-link" href="./criar-links.html">
							<span class="mr-1">4.</span>Criar Links
						</a>
					</li>
					<li class="nav-item flex-fill text-center last">
						<a class="nav-link" href="./gerar-relatorio.html">
							<span class="mr-1">5.</span>Gerar Relatório Final
						</a>
					</li>
				</ul>
			</nav>
			<!-- / STEPS MENU -->

			<div class="step-cont mt-2">
				<div class="row">
					<div class="col">
						<div class="step-cont__atual pt-3 pb-2">
							2.1. Alterar Caminho
						</div>
						<div class="step-cont__titulo">
							<h1>Alterar Caminho</h1>
						</div>
					</div>
				</div>

				<form action="">
					<!--  -->
					<div class="row pt-4">
						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Marca</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Categoria</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Produto</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row pt-5">
						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Assunto Geral</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Segmento</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="input-block">
								<label class="input-block__label" for="">Assunto Específico</label>
								<div class="input-block__cont">
									<select class="input-block__select-input" name="" id="">
										<option selected value="">Claro e Net</option>
										<option value="">Lorem Ipsum</option>
										<option value="">Lorem Ipsum</option>
									</select>
								</div>
							</div>
						</div>
					</div>

					<div class="row py-5">
						<div class="col">
							<div class="input-block">
								<div class="input-block__cont">
									<div class="input-block__text-input">
										<label for="">Nome</label>
										<input type="text" id="" placeholder="Pagamento da Fatura">
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--  -->

					<div class="row">
						<div class="col center-column py-5">
							<p class="radio-message">Esse caminho possui <strong>página secundária?</strong></p>
							<div class="radio-block pt-3 pb-4">
								<div class="radio-group confirm">
									<input type="radio" name="possuiSec" id="secPageSim">
									<label for="secPageSim">Sim</label>
								</div>
								<div class="radio-group cancel">
									<input type="radio" name="possuiSec" id="secPageNao">
									<label for="secPageNao">Não</label>
								</div>
							</div>
							<div class="btn-cont py-3">
								<button class="btn-default bg-confirm" type="button">Alterar Caminho</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</main>

	<script src="js/jquery.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>