			<div class="step-cont mt-2">
				<div class="row">
					<div class="col">
						<div class="step-cont__titulo d-flex align-items-center pt-5 pb-3">
							<h1>Lista de Opções</h1>
							<a class="btn-default bg-default ml-5 w-auto px-5"  href="http://catalogoclaro.comercial.ws/mondo/index.php/admin/config-alt/claro/onlyAdmin"><i
									class="far fa-plus mr-3"></i>
								Cadastro de Opções</a>
						</div>
					</div>
				</div>

				<div class="row py-4">
					<div class="col">
						<!-- Caminho Pai -->
						<div class="caminhos--pai caminhos--opcoes pb-5">

							<div class="caminhos__col-titulo">
								<ul>
									<li>Nome</li>
									<li>Opções</li>
								</ul>
							</div>

							<!-- ROW -->
							{loop="$listOption"}
							<div class="caminhos__row ">
								<ul class="caminhos__info">
									<li>{$value.opt}</li>
									<li>{loop="$value.val"} {$value.name},{/loop}</li>
									<li class="caminhos__btn-alterar">
										<a href="http://catalogoclaro.comercial.ws/mondo/index.php/admin/config-alt/{$value.id_option}/claro/onlyAdmin">

											<i class="fas fa-pen"></i>
										</a>
									</li>
								</ul>
							</div>
							<!-- / ROW -->
							{/loop}
							
							
						</div>
						<!-- / Caminho Pai -->
					</div>
				</div>
			</div>
	